/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/*Reset ends*/


body {
  background-color: #555;
  background-image: linear-gradient(
    to right,
    #444,
    #666
  );
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: #DDD;
  margin-top: 10px;
}

.contact, .music, .writing, .cooperation, .coding, .community  {
  border-radius: 100%;
  background-color: #B6F;
	height: 250px;
	width: 250px;
  display: inline-block;
  position: relative;
  margin: 20px;

  -webkit-transition: height 0.6s, width 0.6s, border-radius 0.6s;
  -moz-transition: height 0.6s, width 0.6s, border-radius 0.6s;
  -ms-transition: height 0.6s, width 0.6s, border-radius 0.6s;
  -o-transition: height 0.6s, width 0.6s, border-radius 0.6s;
  transition: height 0.6s, width 0.6s, border-radius 0.6s;

	box-shadow: 0px 0px 20px 3px #222;

	.icon {
		display: inline-block;
		height: 100%;
		width: 100%;
		text-align: center;
	  position: relative;
	  color: #555;
		cursor: pointer;

		i {
			position: absolute;
		  top: 50%;
		  transform: translate(-50%, -50%);
		  font-size: 9em;
		}
	}

	.icon-hidden {
	  display: none;
	}

	&:hover {
		box-shadow: 0px 0px 20px 10px #222;
		i {
			color: #222;
		}
	}

}

.contact {
	background-color: #B6F;
}
.music {
	background-color: #5D2;
}
.writing {
	background-color: #4AD;
}
.cooperation {
	background-color: #CA7;
}
.coding {
	background-color: #77D;
}
.community {
	background-color: #D67;
}


.expanded {
  height: 100vh;
  width: 100%;
  border-radius: 0%;
	box-shadow: 0px 0px 0px 0px blue;
	&:hover {
		box-shadow: 0px 0px 0px 0px #222;
		i {
			color: #555;
		}
	}
	position: absolute;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	z-index: 99;
	overflow: scroll;
}

.contact-info, .music-info, .cooperation-info, .writing-info, .coding-info, .community-info {
	font-size: 1.2em;
	color: rgba(30,30,30,0);
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.6s;
  -moz-transition: height 0.6s;
  -ms-transition: height 0.6s;
  -o-transition: height 0.6s;
  transition: height 0.6s, color 0.6s;
	margin: 10px;
	h2 {
		font-size: 2.5em;
		margin: 20px 0;
	}
}

.shown {
  height: auto;
  color: rgba(30, 30, 30, 1);
}

.contact-info {
	img {
		height: 200px;
		width: auto;
		border-radius: 100%;
	}
}





.close {
  font-size: 3em;
  display: none;
  color: #555;
}

.close-shown {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 4px;
}
